In [14]:
import pandas as pd

In [15]:
x = "sanctuary_cities.csv"
y = "county_fips.csv"

In [16]:
xx = pd.read_csv(x)
yy = pd.read_csv(y)

In [17]:
xx.head()

      County       State
0    Alameda  California
1     Alpine  California
2     Amador  California
3      Butte  California
4  Calaveras  California

In [18]:
yy.head()

   FIPS   County State
0  1001  Autauga    AL
1  1003  Baldwin    AL
2  1005  Barbour    AL
3  1007     Bibb    AL
4  1009   Blount    AL

In [21]:
sanctuary_counties_df = pd.merge(xx, yy, on="County")

In [23]:
sanctuary_counties_df.head()

    County     State_x   FIPS State_y
0  Alameda  California   6001      CA
1   Alpine  California   6003      CA
2   Amador  California   6005      CA
3    Butte  California   6007      CA
4    Butte  California  16023      ID

In [24]:
sanctuary_counties_df

            County       State_x   FIPS State_y
0          Alameda    California   6001      CA
1           Alpine    California   6003      CA
2           Amador    California   6005      CA
3            Butte    California   6007      CA
4            Butte    California  16023      ID
5            Butte    California  46019      SD
6        Calaveras    California   6009      CA
7           Colusa    California   6011      CA
8     Contra Costa    California   6013      CA
9        Del Norte    California   6015      CA
10       El Dorado    California   6017      CA
11          Fresno    California   6019      CA
12           Glenn    California   6021      CA
13        Humboldt    California   6023      CA
14        Humboldt    California  19091      IA
15        Humboldt    California  32013      NV
16        Imperial    California   6025      CA
17            Inyo    California   6027      CA
18            Kern    California   6029      CA
19           Kings    California   6031      CA
20           Kings    California  36047      NY
21            Lake    California   6033      CA
22            Lake    California   8065      CO
23            Lake    California  12069      FL
24            Lake    California  17097      IL
25            Lake    California  18089      IN
26            Lake    California  26085      MI
27            Lake    California  27075      MN
28            Lake    California  30047      MT
29            Lake    California  39085      OH
...            ...           ...    ...     ...
1518       Sherman        Oregon  48421      TX
1519     Tillamook        Oregon  41057      OR
1520      Umatilla        Oregon  41059      OR
1521       Wallowa        Oregon  41063      OR
1522         Wasco        Oregon  41065      OR
1523       Wheeler        Oregon  13309      GA
1524       Wheeler        Oregon  31183      NE
1525       Wheeler        Oregon  41069      OR
1526       Wheeler        Oregon  48483      TX
1527       Yamhill        Oregon  41071      OR
1528  Philadelphia  Pennsylvania  42101      PA
1529    Providence  Rhode Island  44007      RI
1530       Addison       Vermont  50001      VT
1531    Bennington       Vermont  50003      VT
1532     Caledonia       Vermont  50005      VT
1533    Chittenden       Vermont  50007      VT
1534         Essex       Vermont  25009      MA
1535         Essex       Vermont  34013      NJ
1536         Essex       Vermont  36031      NY
1537         Essex       Vermont  50009      VT
1538         Essex       Vermont  51057      VA
1539    Grand Isle       Vermont  50013      VT
1540      Lamoille       Vermont  50015      VT
1541       Orleans       Vermont  22071      LA
1542       Orleans       Vermont  36073      NY
1543       Orleans       Vermont  50019      VT
1544       Rutland       Vermont  50021      VT
1545       Windham       Vermont   9015      CT
1546       Windham       Vermont  50025      VT
1547       Windsor       Vermont  50027      VT

[1548 rows x 4 columns]

In [26]:
sanctuary_counties_us = sanctuary_counties_df.rename(columns={"State_x": "State"})

In [27]:
sanctuary_counties_us.head()

    County       State   FIPS State_y
0  Alameda  California   6001      CA
1   Alpine  California   6003      CA
2   Amador  California   6005      CA
3    Butte  California   6007      CA
4    Butte  California  16023      ID

In [34]:
del sanctuary_counties_us['State_y']

In [35]:
sanctuary_counties_us.head()

    County       State   FIPS
0  Alameda  California   6001
1   Alpine  California   6003
2   Amador  California   6005
3    Butte  California   6007
4    Butte  California  16023

In [39]:
sanctuary_counties_us.to_csv("Resources/usa_sanctuary_counties.csv", encoding="utf-8", index=False, header=True)